{% extends "blog/layout/base.html" %}
{%block title_page %}{{article.title}}{% endblock %}
{%block css %}

{% endblock %}
 {%block content %}
    <hr/>
    <nav aria-label="breadcrumb border bg-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'blog-article-list' %}?category_id={{article.category.id}}">{{article.category.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
      </ol>
    </nav>
    <hr/>
    <article class="blog-post">
      <h2 class="blog-post-title">{{article.title}}</h2>
      
      <p class="blog-post-meta">{{article.created_datetime}} <a href="{% url 'blog-article-list' %}?category_id={{article.category.id}}">{{article.category.name}}</a></p>

      <p>{{article.description}}</p>
      <hr>

      <img src="{{article.image.url}}" class="rounded mx-auto d-block mb-4"  alt="{{article.title}}">

      <p>{{article.detail}}</p>
    </article>

    <hr/>
      {% include "blog/views/article/include/comment.html" %}
    <hr/>

    <nav class="blog-pagination" aria-label="Pagination">
      <a class="btn btn-outline-primary" href="{% url 'blog-home' %}"><< Home</a>
    </nav>

{% endblock %}
{%block js %}

{% endblock %}