{% extends "blog/layout/base.html" %}
{%block title_page %}{% if category is not None %}{{category.name}}{% else %}All{% endif %}{% endblock %}
{%block css %}

{% endblock %}
 {%block content %}
    <hr/>
      <nav aria-label="breadcrumb border bg-light">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>

          {% if category is not None %}
          <li class="breadcrumb-item active" aria-current="page">{{category.name}}</li>
          {% else %}
          <li class="breadcrumb-item active" aria-current="page">All</li>
          {% endif %}
        </ol>
      </nav>
    <hr/>
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      Last Post
    </h3>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        {{sort_label}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="?sort=desc">มากไปน้อย</a></li>
        <li><a class="dropdown-item" href="?sort=asc">น้อยไปมาก</a></li>
      </ul>
    </div>

    {% for item in page_obj %}
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{{item.image.url}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
        </div>
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{item.category.name}}</strong>
          <h3 class="mb-0">{{item.title}}</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">{{item.description}}</p>
          <a href="{% url 'blog-article-detail' pk=item.pk %}" class="stretched-link">Continue reading</a>
        </div>
        
      </div>
    {% endfor %}

    <nav class="blog-pagination" aria-label="Pagination">
      {% if page_obj.has_previous %}
          <a class="btn btn-outline-primary" href="?page=1&category={{category}}&sort={{sort}}">&laquo; first</a>
          <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}&category={{category}}&sort={{sort}}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary"  href="?page={{ page_obj.next_page_number }}&category={{category}}&sort={{sort}}">next</a>
        <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}&category={{category}}&sort={{sort}}">last &raquo;</a>
      {% endif %}
    </nav>
{% endblock %}
{%block js %}

{% endblock %}