  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-dark" href="{% url 'blog-home' %}">Home</a>
      </div>
      <div class="col-4 pt-1 text-center">
        <a class="blog-header-logo text-dark" href="{% url 'blog-home' %}">My Blog</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        {% if request.user.is_authenticated %}
          <small class="me-2 text-primary">{{request.user}}</small>
          <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog-logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary me-1" href="{% url 'blog-signup' %}">Sign up</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'blog-signin' %}">Sign in</a>
        {% endif %}
      </div>
    </div>
  </header>