<nav class="nav d-flex justify-content-between">
    <a class="p-2 link-secondary" href="{% url 'blog-article-list' %}">All</a>
    {% for item in category_list %}
    <a class="p-2 link-secondary" href="{% url 'blog-article-list' %}?category_id={{item.id}}">{{item.name}}</a>
    {% endfor %}
</nav>