{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.83.1">
  <title>{%block title_page %}My Blog{% endblock %}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">



  <!-- Bootstrap core CSS -->
  <link href="{% static 'blog/css/plugin/bootstrap.min.css' %}" rel="stylesheet" >


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'blog/css/blog.css' %}?v=1" rel="stylesheet">
</head>

<body>

  <div class="container">
    {% include "blog/layout/include/header.html" %}

    <div class="nav-scroller py-1 mb-2">
      {% include "blog/layout/include/nav.html" %}
    </div>
  </div>
  <main class="container">
    <div class="row g-5">
      <div class="col-md-8">
        {%block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        {% include "blog/layout/include/sticky.html" %}
      </div>
    </div>
  </main>
  {% include "blog/layout/include/footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>