<h3>Comment</h3>
<form method="POST">
    {% csrf_token %}
    {% if form_comment.errors.message %}
    <div class="alert alert-danger" role="alert">
        {{form_comment.errors.message}}
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        {{form_comment.name}}
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        {{form_comment.message}}
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <button class="btn btn-primary me-md-2" type="submit">Submit</button>
    </div>
</form>
<hr />

{% for item in article.comments.all %}
<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.message}}</p>
        <small>{{item.created_datetime}}</small>
    </div>
</div>
{% endfor %}