{% extends "blog/layout/base.html" %}
{%block title_page %}My Blog{% endblock %}
{%block css %}

{% endblock %}
 {%block content %}
 
  <h3 class="pb-4 mb-4 fst-italic border-bottom">
    Last Post
  </h3>

  {% for item in page_obj %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" width="200" height="250" src="{{item.image.url}}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>
      </div>
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{item.category.name}}</strong>
        <h3 class="mb-0">{{item.title}}</h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <p class="card-text mb-auto">{{item.description}}</p>
        <a href="{% url 'blog-article-detail' pk=item.pk %}" class="stretched-link">Continue reading</a>
      </div>
      
    </div>
  {% endfor %}

  <nav class="blog-pagination" aria-label="Pagination">
    <a class="btn btn-outline-primary"  href="{% url 'blog-article-list' %}">All</a>
  </nav>
{% endblock %}
{%block js %}

{% endblock %}