{% extends "blog/layout/base.html" %}
{%block title_page %}Sign up{% endblock %}
{%block css %}

{% endblock %}
{%block content %}
    <hr/>
    <nav aria-label="breadcrumb border bg-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sign up</li>
      </ol>
    </nav>
    <hr/>
  <h3 class="pb-4 mb-4 fst-italic border-bottom">Sign up</h3>
  <div class="form-signin">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% if form_signup.errors %}
    <div class="alert alert-danger" role="alert">
      {{form_signup.errors}}
    </div>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="form-floating">
        {{form_signup.username}}
        <label for="id_username">Username</label>
      </div>
      <div class="form-floating">
        {{form_signup.password1}}
        <label for="id_password">Password</label>
      </div>
      <div class="form-floating">
        {{form_signup.password2}}
        <label for="id_password">re-Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>
  </div>
{% endblock %}
{%block js %}

{% endblock %}