{% extends "blog/layout/base.html" %}
{%block title_page %}Sign in{% endblock %}
{%block css %}

{% endblock %}
{%block content %}
    <hr/>
    <nav aria-label="breadcrumb border bg-light">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'blog-home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sign in</li>
      </ol>
    </nav>
    <hr/>
  <h3 class="pb-4 mb-4 fst-italic border-bottom">Sign in</h3>
  <div class="form-signin">

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <div class="form-floating">
        {{form_auth.username}}
        <label for="id_username">Username</label>
      </div>
      <div class="form-floating">
        {{form_auth.password}}
        <label for="id_password">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          {{form_auth.is_remember_me}} Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </div>
{% endblock %}
{%block js %}

{% endblock %}